@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
  --violet: #5964E0;
  --light-violet: #939BF4;
  --very-dark-blue: #19202D;
  --midnight: #121721;
  --white: #FFFFFF;
  --light-gray: #F4F6F8;
  --gray: #9DAEC2;
  --dark-gray: #6E8098;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--light-gray);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.header{
  background: url(../images/bg-mobile.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 24px 72px;
  position: relative;
  margin-bottom: 97px;
}

.mode-switch{
  display: flex;
  align-items: center;
  gap: 16px;
}

.mode-switch input{
  appearance: none;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background-color: var(--white);
  margin: 0;
  padding: 5px;
}

.mode-switch input::after{
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--violet);
  transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
  display: block;
}

.mode-switch input:checked::after{
  transform: translateX(24px);
}

.search-input{
  position: absolute;
  bottom: -40px;
  left: 24px;
  right: 24px;
}

.search-input-container{
  position: relative;
  width: 100%;
}

.search-input-container input{
  width: 100%;
  padding: 30px 108px 30px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.84px;
  color: var(--very-dark-blue);
  outline: none;
  border: none;
}

.search-input-container input::placeholder{
  opacity: 0.5;
  color: var(--very-dark-blue);
}

.search-input-container-wrapper{
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.search-input-container-wrapper i{
  font-size: 20px;
  color: var(--dark-gray);
}

.search-btn{
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--violet);
  border-radius: 5px;
  cursor: pointer;
}

.company-grid-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-inline: 24px;
  gap: 49px;
  margin-bottom: 32px;
}

.company-grid-item{
  position: relative;
  background-color: var(--white);
  width: 100%;
  border-radius: 6px;
  padding: 49px 9px 32px 32px;
  cursor: pointer;
}

.company-logo{
  position: absolute;
  top: -25px;
  left: 32px;
}

.company-grid-item--top{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 13px;
}

.company-grid-item--top p{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.84px;
  color: var(--dark-gray);
}

.divider{
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dark-gray);
}

.position{
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  color: var(--very-dark-blue);
  margin-bottom: 12px;
}

.company-name{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.84px;
  color: var(--dark-gray);
  margin-bottom: 40px;
}

.location{
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
  color: var(--violet);
}

.load-more-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 62px;
}

.load-more-btn button{
  background-color: var(--violet);
  padding: 16px 31px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.84px;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.company-site-container{
  position: absolute;
  top: 96px;
  left: 24px;
  right: 24px;
  background-color: var(--white);
  padding: 49px 32px 32px;
  border-radius: 6px;
}

.company-site{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-site img{
  position: absolute;
  top: -73px;
}

.company-site .company-name{
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: center;
  color: var(--very-dark-blue);
  margin-bottom: 13px;
}

.company-site a{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.84px;
  text-align: center;
  color: var(--dark-gray);
  text-decoration: none;
  margin-bottom: 27px;
}

.company-site .company-site-btn{
  padding: 16px 20px;
  background-color: #eeeffc;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.84px;
  text-align: center;
  color: var(--violet);
  margin: 0;
  border-radius: 5px;
}

.apply-container{
  margin-top: 214px;
  background-color: var(--white);
  margin-inline: 24px;
  border-radius: 6px;
  padding: 40px 24px;
}

.apply-container .company-grid-item--top{
  margin-bottom: 8px;
}

.apply-container .location{
  margin-bottom: 54px;
}

.apply-now-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: var(--violet);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.84px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 32px;
}

.job-description, .content, li{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--dark-gray);
  margin-bottom: 40px;
}

.content{
  margin-bottom: 32px;
}

.requirements h2, .role h2{
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  color: var(--very-dark-blue);
  margin-bottom: 28px;
}

a{
  text-decoration: none;
}

.requirements-list{
  margin-bottom: 40px;
}

.requirements-list li{
  display: flex;
  align-items: start;
  gap: 32px;
}

.requirements-list li span{
  width: 4px;
  height: 4px;
  background-color: var(--violet);
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  flex-shrink: 0;
}

.requirements-list li, .role-list li{
  margin-bottom: 8px;
}

.role-list li{
  display: flex;
  gap: 25px;
}

.role-list-counter{
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: var(--violet);
}

.apply-now{
  margin-top: 64px;
  background-color: var(--white);
  padding: 24px;
}

.apply-now a{
  margin: 0;
}

#filterForm{
  display: none;
}

@media only screen and (min-width: 768px){
  .header{
    background: url(../images/bg-mobile.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px 72px;
    position: relative;
    margin-bottom: 97px;
  }
  
  .mode-switch{
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .mode-switch input{
    appearance: none;
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-color: var(--white);
    margin: 0;
    padding: 5px;
  }
  
  .mode-switch input::after{
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--violet);
    transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
    display: block;
  }
  
  .mode-switch input:checked::after{
    transform: translateX(24px);
  }
  
  .search-input{
    display: none;
  }
  #filterForm{
    display: flex;
    align-items: center;
    background-color: var(--white);
    height: 80px;
    border-radius: 8px;
    position: absolute;
    bottom: -40px;
    left: 40px;
    right: 40px;
    padding: 0px 16px 0px 24px;
  }
  
  .search-input-container{
    position: relative;
    width: 100%;
  }
  
  .search-input-container input{
    width: 100%;
    padding: 30px 108px 30px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    color: var(--very-dark-blue);
    outline: none;
    border: none;
  }
  
  .search-input-container input::placeholder{
    opacity: 0.5;
    color: var(--very-dark-blue);
  }
  
  .search-input-container-wrapper{
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .search-input-container-wrapper i{
    font-size: 20px;
    color: var(--dark-gray);
  }
  
  .search-btn{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--violet);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .company-grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-inline: 24px;
    gap: 49px;
    margin-bottom: 32px;
  }
  
  .company-grid-item{
    position: relative;
    background-color: var(--white);
    width: 100%;
    border-radius: 6px;
    padding: 49px 9px 32px 32px;
    cursor: pointer;
  }
  
  .company-logo{
    position: absolute;
    top: -25px;
    left: 32px;
  }
  
  .company-grid-item--top{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 13px;
  }
  
  .company-grid-item--top p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    color: var(--dark-gray);
  }
  
  .divider{
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--dark-gray);
  }
  
  .position{
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    color: var(--very-dark-blue);
    margin-bottom: 12px;
  }
  
  .company-name{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    color: var(--dark-gray);
    margin-bottom: 40px;
  }
  
  .location{
    font-size: 14px;
    font-weight: 700;
    line-height: 17.36px;
    color: var(--violet);
  }
  
  .load-more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 62px;
  }
  
  .load-more-btn button{
    background-color: var(--violet);
    padding: 16px 31px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .company-site-container{
    position: absolute;
    top: 96px;
    left: 24px;
    right: 24px;
    background-color: var(--white);
    padding: 49px 32px 32px;
    border-radius: 6px;
  }
  
  .company-site{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .company-site img{
    position: absolute;
    top: -73px;
  }
  
  .company-site .company-name{
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    text-align: center;
    color: var(--very-dark-blue);
    margin-bottom: 13px;
  }
  
  .company-site a{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    text-align: center;
    color: var(--dark-gray);
    text-decoration: none;
    margin-bottom: 27px;
  }
  
  .company-site .company-site-btn{
    padding: 16px 20px;
    background-color: #eeeffc;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    text-align: center;
    color: var(--violet);
    margin: 0;
    border-radius: 5px;
  }
  
  .apply-container{
    margin-top: 214px;
    background-color: var(--white);
    margin-inline: 24px;
    border-radius: 6px;
    padding: 40px 24px;
  }
  
  .apply-container .company-grid-item--top{
    margin-bottom: 8px;
  }
  
  .apply-container .location{
    margin-bottom: 54px;
  }
  
  .apply-now-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: var(--violet);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 32px;
  }
  
  .job-description, .content, li{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--dark-gray);
    margin-bottom: 40px;
  }
  
  .content{
    margin-bottom: 32px;
  }
  
  .requirements h2, .role h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    color: var(--very-dark-blue);
    margin-bottom: 28px;
  }
  
  a{
    text-decoration: none;
  }
  
  .requirements-list{
    margin-bottom: 40px;
  }
  
  .requirements-list li{
    display: flex;
    align-items: start;
    gap: 32px;
  }
  
  .requirements-list li span{
    width: 4px;
    height: 4px;
    background-color: var(--violet);
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    flex-shrink: 0;
  }
  
  .requirements-list li, .role-list li{
    margin-bottom: 8px;
  }
  
  .role-list li{
    display: flex;
    gap: 25px;
  }
  
  .role-list-counter{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--violet);
  }
  
  .apply-now{
    margin-top: 64px;
    background-color: var(--white);
    padding: 24px;
  }
  
  .apply-now a{
    margin: 0;
  }
}
